<table style="text-align:center;vertical-align:middle" cellspacing="0" cellpadding = "1" width="100%" border="1">
  <tr style="background-color:#808080"  >

      <td width = "7%"  rowspan="2">ลำดับ</td>
      <td rowspan="2">Inv No.</td>
      <td rowspan="2">Inv. Date</td>
      <td rowspan="2">จำนวนเงิน</td>
      <td width = "20%"  colspan="2">ยอด</td>
      <td rowspan="2">จำนวนเงินจ่าย</td>
      <td rowspan="2">วันที่จ่าย</td>
     </tr>
     <tr style="text-align:center;background-color:#808080">
     <td width = "10%" >Vat 7%</td>
     <td width = "10%" >WHT%</td>
   </tr>
