tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

table.testing td {
  padding: 2px !important;
}
table.dataTable tr.group-end td {
  padding: 5px !important;
    text-align: right;
    font-weight: normal;
}
table.dataTable tr.group td {
  padding: 5px !important;

}
